In [1]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")
from sklearn.model_selection import train_test_split, cross_val_score
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import accuracy_score
from sklearn.metrics import confusion_matrix

In [2]:
df=pd.read_csv('DataFS.csv')
df.head()

      sg   al  pcc   ba  hemo  htn   dm  appet  ane  class
0  1.020  1.0  0.0  0.0  15.4  1.0  1.0    1.0  0.0    1.0
1  1.020  4.0  0.0  0.0  11.3  0.0  0.0    1.0  0.0    1.0
2  1.010  2.0  0.0  0.0   9.6  0.0  1.0    0.0  1.0    1.0
3  1.005  4.0  1.0  0.0  11.2  1.0  0.0    0.0  1.0    1.0
4  1.010  2.0  0.0  0.0  11.6  0.0  0.0    1.0  0.0    1.0

In [3]:
y=df['class']
x=df.drop(['class'],axis=1)

In [4]:
x.head()

      sg   al  pcc   ba  hemo  htn   dm  appet  ane
0  1.020  1.0  0.0  0.0  15.4  1.0  1.0    1.0  0.0
1  1.020  4.0  0.0  0.0  11.3  0.0  0.0    1.0  0.0
2  1.010  2.0  0.0  0.0   9.6  0.0  1.0    0.0  1.0
3  1.005  4.0  1.0  0.0  11.2  1.0  0.0    0.0  1.0
4  1.010  2.0  0.0  0.0  11.6  0.0  0.0    1.0  0.0

In [5]:
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=42,test_size=0.3)

In [6]:
#latih = pd.DataFrame(data = x_train)
x_train.head(15)

        sg   al  pcc   ba   hemo  htn   dm  appet  ane
157  1.025  3.0  0.0  0.0  12.60  1.0  1.0    1.0  0.0
109  1.020  0.0  0.0  0.0  11.70  0.0  1.0    1.0  0.0
17   1.020  0.0  0.0  0.0  12.10  1.0  0.0    0.0  0.0
347  1.025  0.0  0.0  0.0  17.80  0.0  0.0    1.0  0.0
24   1.015  4.0  0.0  1.0  11.10  1.0  0.0    0.0  0.0
175  1.010  0.0  0.0  0.0  10.35  1.0  0.0    1.0  0.0
351  1.020  0.0  0.0  0.0  17.50  0.0  0.0    1.0  0.0
332  1.025  0.0  0.0  0.0  15.30  0.0  0.0    1.0  0.0
167  1.020  0.0  0.0  0.0  12.70  0.0  0.0    0.0  0.0
245  1.020  0.0  0.0  0.0   6.30  1.0  0.0    0.0  0.0
311  1.025  0.0  0.0  0.0  13.70  0.0  0.0    1.0  0.0
145  1.015  5.0  0.0  1.0   8.00  1.0  1.0    0.0  1.0
258  1.020  0.0  0.0  0.0  13.90  0.0  0.0    1.0  0.0
177  1.015  2.0  1.0  0.0  13.20  0.0  1.0    1.0  0.0
119  1.010  0.0  0.0  0.0  15.35  0.0  0.0    1.0  0.0

In [7]:
y_train.head(15)

157    1.0
109    1.0
17     1.0
347    0.0
24     1.0
175    1.0
351    0.0
332    0.0
167    1.0
245    1.0
311    0.0
145    1.0
258    0.0
177    1.0
119    1.0
Name: class, dtype: float64

In [8]:
df=pd.concat([x_train, y_train], axis=1)
df.head(15)

        sg   al  pcc   ba   hemo  htn   dm  appet  ane  class
157  1.025  3.0  0.0  0.0  12.60  1.0  1.0    1.0  0.0    1.0
109  1.020  0.0  0.0  0.0  11.70  0.0  1.0    1.0  0.0    1.0
17   1.020  0.0  0.0  0.0  12.10  1.0  0.0    0.0  0.0    1.0
347  1.025  0.0  0.0  0.0  17.80  0.0  0.0    1.0  0.0    0.0
24   1.015  4.0  0.0  1.0  11.10  1.0  0.0    0.0  0.0    1.0
175  1.010  0.0  0.0  0.0  10.35  1.0  0.0    1.0  0.0    1.0
351  1.020  0.0  0.0  0.0  17.50  0.0  0.0    1.0  0.0    0.0
332  1.025  0.0  0.0  0.0  15.30  0.0  0.0    1.0  0.0    0.0
167  1.020  0.0  0.0  0.0  12.70  0.0  0.0    0.0  0.0    1.0
245  1.020  0.0  0.0  0.0   6.30  1.0  0.0    0.0  0.0    1.0
311  1.025  0.0  0.0  0.0  13.70  0.0  0.0    1.0  0.0    0.0
145  1.015  5.0  0.0  1.0   8.00  1.0  1.0    0.0  1.0    1.0
258  1.020  0.0  0.0  0.0  13.90  0.0  0.0    1.0  0.0    0.0
177  1.015  2.0  1.0  0.0  13.20  0.0  1.0    1.0  0.0    1.0
119  1.010  0.0  0.0  0.0  15.35  0.0  0.0    1.0  0.0    1.0

In [ ]:
df.to_excel(r'C:\Users\ACER\Music\jupiter\TA\Data_training.xlsx',index=False)

In [ ]:
df2 = pd.concat([x_test, y_test], axis=1)
df2.head(15)

In [ ]:
x_test.head(15)

In [ ]:
y_test.head(15)

In [ ]:
df2.to_excel(r'C:\Users\ACER\Music\jupiter\TA\Data_testing.xlsx',index=False)

In [17]:
knn = KNeighborsClassifier(n_neighbors=3, metric = 'euclidean',n_jobs=-1,
                                      weights='distance')
knn.fit(x_train,y_train)

KNeighborsClassifier(metric='euclidean', n_jobs=-1, n_neighbors=3,
                     weights='distance')

In [18]:
ypred=knn.predict(x_test)
hasil = accuracy_score(y_test,ypred)
print('acc = %.2f%%' %(hasil*100))

acc = 99.17%

In [19]:
tn, fp, fn, tp = confusion_matrix(y_test,ypred).ravel()
(tn, fp, fn, tp)

(44, 0, 1, 75)

In [20]:
confusion_matrix(y_test,ypred)

array([[44,  0],
       [ 1, 75]], dtype=int64)

SEMUA DATA

In [21]:
y_pred = knn.predict(x)
hasil = accuracy_score(y,y_pred)
print('acc = %.2f%%' %(hasil*100))

acc = 99.50%

In [22]:
tn, fp, fn, tp = confusion_matrix(y,y_pred).ravel()
(tn, fp, fn, tp)

(150, 0, 2, 248)

In [23]:
confusion_matrix(y,y_pred)

array([[150,   0],
       [  2, 248]], dtype=int64)

CROSS VALIDATION

In [31]:
knnV = KNeighborsClassifier(n_neighbors=3, metric = 'euclidean',n_jobs=-1,
                                      weights='distance')
cross_val_score(knnV,x,y,cv=10).mean()

0.9550000000000001

In [ ]:
cross_val_score(knnV,x,y,cv=5)

In [ ]:
cross_val_score(knnV,x,y,cv=10).mean()

In [ ]:
cross_val_score(knnV,x,y,cv=5).mean()

In [ ]:
print(x_train.shape)

In [ ]:
print(x_test.shape)