In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
%matplotlib inline
warnings.filterwarnings("ignore")
from sklearn.model_selection import train_test_split
from sklearn.metrics import roc_auc_score
from mlxtend.feature_selection import SequentialFeatureSelector as SFS
from sklearn.neighbors import KNeighborsClassifier
from sklearn.model_selection import cross_val_score
from sklearn.metrics import accuracy_score
from sklearn.impute import KNNImputer

In [2]:
df=pd.read_csv('CleanD.csv')
df.head()

,age,bp,sg,al,su,rbc,pc,pcc,ba,bgr,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,class
0,48.0,80.0,1.020,1.0,0.0,0.0,0.0,0.0,0.0,121.0,...,44.0,7800.0,5.2,1.0,1.0,0.0,1.0,0.0,0.0,1.0
1,7.0,50.0,1.020,4.0,0.0,0.0,0.0,0.0,0.0,101.5,...,38.0,6000.0,5.5,0.0,0.0,0.0,1.0,0.0,0.0,1.0
2,62.0,80.0,1.010,2.0,3.0,0.0,0.0,0.0,0.0,423.0,...,31.0,7500.0,3.2,0.0,1.0,0.0,0.0,0.0,1.0,1.0
3,48.0,70.0,1.005,4.0,0.0,0.0,1.0,1.0,0.0,117.0,...,32.0,6700.0,3.9,1.0,0.0,0.0,0.0,1.0,1.0,1.0
4,51.0,80.0,1.010,2.0,0.0,0.0,0.0,0.0,0.0,106.0,...,35.0,7300.0,4.6,0.0,0.0,0.0,1.0,0.0,0.0,1.0

In [3]:
y=df['class']
x=df.drop(['class'],axis=1)

In [4]:
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=42,test_size=0.3)

In [5]:
knn = KNeighborsClassifier(n_neighbors=3, metric = 'euclidean',n_jobs=-1,
                                      weights='distance')
knn.fit(x_train,y_train)

KNeighborsClassifier(metric='euclidean', n_jobs=-1, n_neighbors=3,
                     weights='distance')

In [6]:
ypred=knn.predict(x_test)
print('acc : ',accuracy_score(y_test,ypred)*100)

acc :  66.66666666666666

In [25]:
sfs = SFS(knn,
        k_features=24,
        forward=True,
        floating=False,
        verbose=2,
        scoring='accuracy',
        cv=5,
        n_jobs=-1)

In [26]:
sfs=sfs.fit(x,y)

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  24 out of  24 | elapsed:    6.9s finished

[2020-10-28 12:18:44] Features: 1/24 -- score: 0.875[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  23 out of  23 | elapsed:    3.6s finished

[2020-10-28 12:18:48] Features: 2/24 -- score: 0.9425000000000001[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  22 out of  22 | elapsed:    3.3s finished

[2020-10-28 12:18:51] Features: 3/24 -- score: 0.96[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  21 out of  21 | elapsed:    3.2s finished

[2020-10-28 12:18:55] Features: 4/24 -- score: 0.9625[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  20 out of  20 | elapsed:    3.0s finished

[2020-10-28 12:18:58] Features: 5/24 -- score: 0.9675[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  19 out of  19 | elapsed:    2.9s finished

[2020-10-28 12:19:01] Features: 6/24 -- score: 0.97[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  18 out of  18 | elapsed:    2.6s finished

[2020-10-28 12:19:03] Features: 7/24 -- score: 0.97[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  17 out of  17 | elapsed:    2.9s finished

[2020-10-28 12:19:06] Features: 8/24 -- score: 0.97[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  16 out of  16 | elapsed:    2.3s finished

[2020-10-28 12:19:09] Features: 9/24 -- score: 0.97[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  15 out of  15 | elapsed:    2.4s finished

[2020-10-28 12:19:11] Features: 10/24 -- score: 0.97[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  14 out of  14 | elapsed:    2.2s finished

[2020-10-28 12:19:14] Features: 11/24 -- score: 0.9675[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  13 out of  13 | elapsed:    2.2s remaining:    0.0s
[Parallel(n_jobs=-1)]: Done  13 out of  13 | elapsed:    2.2s finished

[2020-10-28 12:19:16] Features: 12/24 -- score: 0.9625[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  12 out of  12 | elapsed:    1.6s remaining:    0.0s
[Parallel(n_jobs=-1)]: Done  12 out of  12 | elapsed:    1.6s finished

[2020-10-28 12:19:18] Features: 13/24 -- score: 0.9650000000000001[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  11 out of  11 | elapsed:    1.6s finished

[2020-10-28 12:19:19] Features: 14/24 -- score: 0.9574999999999999[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  10 out of  10 | elapsed:    1.6s finished

[2020-10-28 12:19:21] Features: 15/24 -- score: 0.9525[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done   7 out of   9 | elapsed:    1.0s remaining:    0.2s
[Parallel(n_jobs=-1)]: Done   9 out of   9 | elapsed:    1.5s finished

[2020-10-28 12:19:23] Features: 16/24 -- score: 0.9349999999999999[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done   6 out of   8 | elapsed:    1.0s remaining:    0.3s
[Parallel(n_jobs=-1)]: Done   8 out of   8 | elapsed:    1.0s finished

[2020-10-28 12:19:24] Features: 17/24 -- score: 0.9425000000000001[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done   4 out of   7 | elapsed:    0.5s remaining:    0.3s
[Parallel(n_jobs=-1)]: Done   7 out of   7 | elapsed:    1.0s finished

[2020-10-28 12:19:25] Features: 18/24 -- score: 0.9425000000000001[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done   3 out of   6 | elapsed:    0.5s remaining:    0.5s
[Parallel(n_jobs=-1)]: Done   6 out of   6 | elapsed:    1.0s finished

[2020-10-28 12:19:26] Features: 19/24 -- score: 0.93[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done   5 out of   5 | elapsed:    1.1s finished

[2020-10-28 12:19:27] Features: 20/24 -- score: 0.9175000000000001[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done   4 out of   4 | elapsed:    0.5s finished

[2020-10-28 12:19:28] Features: 21/24 -- score: 0.905[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done   3 out of   3 | elapsed:    0.5s finished

[2020-10-28 12:19:28] Features: 22/24 -- score: 0.8800000000000001[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done   2 out of   2 | elapsed:    0.5s finished

[2020-10-28 12:19:29] Features: 23/24 -- score: 0.8525[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done   1 out of   1 | elapsed:    0.5s finished

[2020-10-28 12:19:30] Features: 24/24 -- score: 0.7074999999999999

In [27]:
sfs = SFS(knn,
        k_features=10,
        forward=True,
        floating=False,
        verbose=2,
        scoring='accuracy',
        cv=5,
        n_jobs=-1)

In [28]:
sfs=sfs.fit(x,y)

[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  24 out of  24 | elapsed:    3.3s finished

[2020-10-28 12:19:54] Features: 1/10 -- score: 0.875[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  23 out of  23 | elapsed:    3.3s finished

[2020-10-28 12:19:57] Features: 2/10 -- score: 0.9425000000000001[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  22 out of  22 | elapsed:    3.4s finished

[2020-10-28 12:20:01] Features: 3/10 -- score: 0.96[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  21 out of  21 | elapsed:    3.1s finished

[2020-10-28 12:20:04] Features: 4/10 -- score: 0.9625[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  20 out of  20 | elapsed:    2.7s finished

[2020-10-28 12:20:07] Features: 5/10 -- score: 0.9675[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  19 out of  19 | elapsed:    2.6s finished

[2020-10-28 12:20:10] Features: 6/10 -- score: 0.97[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  18 out of  18 | elapsed:    2.6s finished

[2020-10-28 12:20:12] Features: 7/10 -- score: 0.97[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  17 out of  17 | elapsed:    2.6s finished

[2020-10-28 12:20:15] Features: 8/10 -- score: 0.97[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  16 out of  16 | elapsed:    2.1s finished

[2020-10-28 12:20:17] Features: 9/10 -- score: 0.97[Parallel(n_jobs=-1)]: Using backend LokyBackend with 4 concurrent workers.
[Parallel(n_jobs=-1)]: Done  15 out of  15 | elapsed:    2.1s finished

[2020-10-28 12:20:19] Features: 10/10 -- score: 0.97

In [29]:
pd.DataFrame.from_dict(sfs.get_metric_dict()).T

,feature_idx,cv_scores,avg_score,feature_names,ci_bound,std_dev,std_err
1,"(14,)","[0.8625, 0.8875, 0.875, 0.8625, 0.8875]",0.875,"(hemo,)",0.01437,0.0111803,0.00559017
2,"(3, 14)","[0.9375, 0.925, 0.95, 0.9625, 0.9375]",0.9425,"(al, hemo)",0.0163843,0.0127475,0.00637377
3,"(3, 14, 19)","[0.9625, 0.9375, 0.9625, 0.975, 0.9625]",0.96,"(al, hemo, dm)",0.0157415,0.0122474,0.00612372
4,"(3, 4, 14, 19)","[0.9625, 0.9625, 0.95, 0.975, 0.9625]",0.9625,"(al, su, hemo, dm)",0.0101611,0.00790569,0.00395285
5,"(3, 4, 14, 19, 22)","[0.975, 0.975, 0.95, 0.975, 0.9625]",0.9675,"(al, su, hemo, dm, pe)",0.0128529,0.01,0.005
6,"(3, 4, 14, 19, 21, 22)","[0.975, 0.9875, 0.95, 0.975, 0.9625]",0.97,"(al, su, hemo, dm, appet, pe)",0.0163843,0.0127475,0.00637377
7,"(2, 3, 4, 14, 19, 21, 22)","[0.975, 0.9875, 0.95, 0.975, 0.9625]",0.97,"(sg, al, su, hemo, dm, appet, pe)",0.0163843,0.0127475,0.00637377
8,"(2, 3, 4, 8, 14, 19, 21, 22)","[0.975, 0.9875, 0.95, 0.975, 0.9625]",0.97,"(sg, al, su, ba, hemo, dm, appet, pe)",0.0163843,0.0127475,0.00637377
9,"(2, 3, 4, 8, 14, 19, 20, 21, 22)","[0.975, 0.9875, 0.95, 0.975, 0.9625]",0.97,"(sg, al, su, ba, hemo, dm, cad, appet, pe)",0.0163843,0.0127475,0.00637377
10,"(2, 3, 4, 8, 14, 19, 20, 21, 22, 23)","[0.975, 0.9875, 0.95, 0.975, 0.9625]",0.97,"(sg, al, su, ba, hemo, dm, cad, appet, pe, ane)",0.0163843,0.0127475,0.00637377

In [30]:
sfs.k_feature_idx_

(2, 3, 4, 8, 14, 19, 20, 21, 22, 23)

In [31]:
xtrain_fs=sfs.transform(x_train)
xtest_fs=sfs.transform(x_test)

In [32]:
knn.fit(xtrain_fs,y_train)

KNeighborsClassifier(metric='euclidean', n_jobs=-1, n_neighbors=3,
                     weights='distance')

In [33]:
ypred=knn.predict(xtest_fs)

In [34]:
acc = float((y_test == ypred).sum()) / ypred.shape[0]
print('Test set accuracy: %.2f %%' % (acc * 100))

Test set accuracy: 99.17 %

In [35]:
kolom1 = ['sg','al','su','ba','hemo','dm','cad','appet','pe','ane','class']

In [36]:
data=df[kolom1]

In [38]:
data.to_excel(r'C:\Users\ACER\Desktop\ASFS.xlsx',index=False)